# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================

venv/
env/
.venv/

# ==========================================
# Dataset
# ==========================================

dataset/*
!dataset/.gitkeep

# ==========================================
# Uploaded files
# ==========================================

static/uploads/*
!static/uploads/.gitkeep

uploads/

# ==========================================
# Model files
# ==========================================

saved_model/*.keras
saved_model/*.h5
saved_model/*.pt
saved_model/*.pth

# ==========================================
# Hugging Face / ML caches
# ==========================================

.cache/
huggingface/
transformers_cache/

# ==========================================
# macOS
# ==========================================

.DS_Store

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Logs
# ==========================================

*.log